<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xr3ngine.xr">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" />
    

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.xr3ngine.xr.XRActivity"></activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <activity
            android:name=".BlankActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
        </activity>
        <service android:name=".MediaProjectionHelperService"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>